
.container{
  max-width: 400px;
}
html {
  scroll-behavior: smooth ;
}
.content {
  grid-column: 1 / 2;
  grid-row: 1/2;
  font-size: 30px;
  border-radius: 5%;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.6); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  padding: 20px;
}
.symptoms {
  height: 10px;
  grid-column: 2;
  grid-row: 1;
  padding: 10px;

}

#Home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-template-rows:  repeat(2, 1fr);
  height: 1000px;
  border: 2px solid black;
  padding: 25px;
  background-image: url("../assets/bg.jpg"); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#WorldStats {
  height: 1000px;
  border: 2px solid black;
  padding: 25px;
  background-image: url("../assets/globe.jpg"); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#IndiaStats {
  height: 1000px;
  border: 2px solid black;
  padding: 25px;
  background-image: url("../assets/India.jpg"); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#Precautions {
  height: 1000px;
  border: 2px solid black;
  padding: 25px;
  background-image: url("../assets/Precautions.jpg"); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#About {
  height: 1000px;
  border: 2px solid black;
  padding: 25px;
  background-image: url("../assets/About.jpg"); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #121622;
  position: sticky; /* Safari */
  top: 0;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:green;
}

.active {
  background-color: #4CAF50;
}