body {
    font-family: 'Titillium', sans-serif;
    font-size: 100px;
    
}
div {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }
  
  div::after {
    content: "";
    background: url(TV-Shows.jpg);
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -inherit;   
    box-shadow: inset 0px 0px 150px 60px rgb(0, 0, 0);
  }
  