html, body {
    font-size: 2vh;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

head {
    display: none;
}
element.style {
}
@media (min-width: 3in) and (orientation: portrait)
{
    font-size: 4.5vw;
}
