html, body {
    font-size: 2vh;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

head {
    display: none;
}
element.style {
}

a:visited { 
    text-decoration: none; 
    color: blue; 
   }
   /* pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
  } */